@import url(./style.css);

nav {
    height: 30vh;
    background-image: linear-gradient(to bottom, #2CA262 ,#196F40, #06391C); 

}
 
nav>div {
    margin-top: 44px;
}


a {
    font: bold 16px arial;
    text-decoration: none;
    color: var(--color02);
    margin-left: 20px;
}

nav>h1 {
    font-family: var(--fonteTitulo); 
    color: #fff;
    padding-top: 30px; 
    text-align: center;
    font-size: 48px;
}


nav>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #fff;
    padding-top: 15px;
    text-align: center;
}

a:hover {
    background-color: #2CA262;
    padding: 10px;
    transition:  0.2s;
    border-radius: 5px;
    color: #06391C;
}


